.cards {
    height: 120px;
    width: 75px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px #DDD;
}

.cards__inner {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: relative;
    color: #FFF;
    font-family: helvetica;
    font-style: italic;
}

.cards__inner--type-yellow{
	background-color: #FFC107;
}

.cards__inner--type-yellow .cards__oval{
    color: #FFC107;
}

.cards__inner--type-red{
	background-color: #DD2C00;
}

.cards__inner--type-red .cards__oval{
    color: #DD2C00;
}

.cards__inner--type-black{
	background-color: #333;
}

.cards__inner--type-black .cards__oval{
    color: #333;
}

.cards__inner--type-blue{
	background-color: #3D5AFE;
}

.cards__inner--type-blue .cards__oval{
    color: #3D5AFE;
}

.cards__inner--type-green{
	background-color: #4CAF50;
}

.cards__inner--type-green .cards__oval{
    color: #4CAF50;
}

.cards__oval {
    background-color: #FFF;
    border-radius: 50%;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    text-align: center;
}

.cards__number {
    text-shadow: 1px 1px black;
    position: absolute;
}

.cards_number-center {
    font-size: 2rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}

.cards__number-top {
    top: 2px;
    left: 2px;
}

.cards__number-bottom {
    bottom: 2px;
    right: 4px;
}